.semester {
  padding: 13px;
  border: 3px solid black;
  margin-bottom: 30px;
  width: 90%;
  margin-left: 4%;
}

.class-form {
    padding: 10px;
}

.classDetails {
  margin-left: 10px;
}

.assignments {
  margin-left: 10px;
}

.assignmentslist {
  list-style: none;
  padding: 0;
}

.assignment-item {
  margin: 10px 0;
}

.new-class {
    margin: 10px 0 0 20px;
}

hr{
    margin:0 -24px 11px -33px;
}

.assignment-form {
    
    input{
        width:90%;
        padding:10px;
        margin-bottom: 12px;
    }
}

.new-semester {
    margin-left: 4%;
    margin-bottom: 2rem;
}

.assignment-flex{
  display:flex;
  justify-content:space-around;
}

.input-box{
  border-radius: 1rem;
  background-color:white;
  border:none;
  padding: 4px 8px;
}

.assignment-box{
  border-radius: 1rem;
  background-color:white;
  border:none;
  padding: 6px 8px;
}

