<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
</head>

<body>
    
<nav role="navigation">
    <ul>
        <li><a href="/"><img class="logo" src="logo.png" alt=""></li></a>
        <li class="nav-title">Calculate Store Grades</li>
    </ul>
</nav>

<main class="profile" role="main">
    <h1>Welcome
        <%= user.local.username %>
    </h1>
    <h3>Store and Calculate your grades from semester to semester</h3>

    <div class="grades">
        <div class="semester">

            <form class="semester-form">
                <input type="text" placeholder="Semester" />
                <input type="submit" value="Save" />
            </form>

            <h2 class="semester-name"></h2>

            <div class="classDetails">
                <form class="class-form">
                    <input type="text" placeholder="Class Name">
                    <input type="submit" value="Save" />
                </form>

                <h2 class="class-name"></h2>

                <h3>Assignments:</h3>
                <div class="assignments">
                    <ul class="assignmentslist">
                        <li class="assignment-item">
                            <form action="#" class="assignment-form">
                                <input type="text" placeholder="assignment">
                                <input type="text" placeholder="weight">
                                <input type="text" placeholder="grades">
                                <input type="submit" value="Save" />
                            </form>
                        </li>
                    </ul>
                    <button class="new-assignment">Add New Assignment </button>
                </div>
            </div>

            <button class="new-class">Add New Class</button>

        </div>
    </div>
    <button class="new-semester">Add New Semester</button>

</main>               
<!--                        
                        <%= user.local.username %>
      -->


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="/calculator.js"></script>
    <script src="/profile2.js"></script>
</body>

</html>