<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
</head>

<body>

    <nav class="main-nav" role="navigation">
        <ul>
            <li><a href="/"><img class="logo" src="logo.png" alt=""></li></a>
            <li class="nav-title">Calculate Store Grades</li>
        </ul>
    </nav>
    
    <main role="main">
    
        <div role="region">
            <h1 class="center-flex" >Welcome
                <%= user.local.username %>
            </h1>
            <h3 class="margin-left-sm">Store and Calculate Your Grades From Semester To Semester</h3>
        </div>
    
        <section role="region">
        <form method="POST" action="/api/semester">
            <h2 class="margin-top-sm margin-left-sm">Add Semester</h2>
            <input required class="input-box margin-left-sm" id="input-semester" name="semester" type="text" placeholder="Fall, 2018">
            <input class="card_button" type="submit" value="Submit">
        </form>
        </section>
    
    <div class="margin-top-sm" id="get-semester">
            <% semesters.forEach(function(semester){%>
            <ul class="card">
                <li><%=semester.semester%></li>
                <li class="card_padding-li">
                    <a href="/class/<%=semester._id%>"><button class="card_button">Add Classes</button></a>
                    <button data-id='<%=semester._id%>' class=" remove card_button margin-left-sm">Delete Semester</button>
                </li>
            </ul>
            <%})%>
    </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="/profile3.js"></script>
</body>

</html>